body {
    text-align: center;
    background-color: yellow;
}

h1 {
    font-size: 40px;
    font-family: fantasy;
    font-weight: 300;
}

#app {
    width: 100%;
    height: 800px;
    background-color: aqua;
}

#games {
    width: 100%;
    height: 800px;
    background-color: chartreuse;
}

#chatbot {
    width: 100%;
    height: 800px;
    background-color: crimson;
}

img {
    transition: transform .2s;
}

.img:hover {
    transform: scale(0.8);
}

.line {
    height: 6px;
    width: 60px;
    background-color: black;
    margin: 8px auto;
}
